{% extends "layout.html" %}

{% block content %}
    <h1> Books </h1>

    <table border="1">
        <thead>
            <tr>
                <th> ID </th>
                <th> Title </th>
                <th> Author </th>
                <th> Published Year </th>
                <th> View </th>
                <th> Edit </th>
                <th> Delete </th>
            </tr>
        </thead>
        <tbody>
            {% for book in object_list %}
               <tr>
                <td> {{ book.ID }} </td>
                <td> {{ book.title }}</td>
                <td> {{ book.author }} </td>
                <td> <a href="{% url 'book_view' book.id %}">View</a></td>
                <td> <a href="{% url 'book_edit' book.id %}">Edit</a></td>
                <td> <a href="{% url 'book_delete' book.id %}">Delete</a></td>
               </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'book_new' %}">New</a>
{% endblock %}